@{
    ViewData["Title"] = "Home Page";
}

<!-- this code was sourced from w3schools and modified to fit the project-->

<div class="text-center">
    <header class="center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">Welcome to Event Ease Web App</h1>
        <p class="w3-xlarge"> by ST10436124</p>
        
    </header>
    
</div>
